################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Distribution/__history
/Win64
/__history
/.vs
